.card {
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 0 1em #ccc;
    margin: 1em;
    display: inline-block;
    width: 20em;
    text-align: center;
    color:white;
}

